* {
    text-align: center !important;
}

label{
    font-family: sans-serif;
    font-size: 20px;
}

.nlabel{
    padding-left: 95px;
}

#elabel {
    padding-right: 30px;
}

#eslabel {
    padding-right: 10px;
}


input {
    border-radius: 5px;
    border: 1px solid rgb(165, 142, 12);
    padding: 0.8em 1.2em;
    font-size: 1em;
    font-weight: 500;
    background-color: #f7f7f7;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  input:invalid {
    box-shadow: 0 0 5px 1px red;
  }

  input:valid {
    box-shadow: 0 0 5px 1px greenyellow;
  }
  
  input:focus:invalid {
    box-shadow: none;
  }

  input:invalid ~ .nomeLabel::after {
    content: " (O nome deve ser apenas letras)";
    font-size: 0.8em;
    color: red;
  }

  input:invalid ~ .enderecoLabel::after {
    content: " (Campo obrigatório)";
    font-size: 0.8em;
    color: red;
}
  input:invalid ~ .emailLabel::after {
    content: " (Email é obrigatório)";
    font-size: 0.8em;
    color: red;
}
  input:invalid ~ .estadoLabel::after {
    content: " (Campo obrigatório)";
    font-size: 0.8em;
    color: red;
}

input:valid ~ .nomeLabel::after {
    content: " \2713";
    color: greenyellow;
    padding-right: 95px;
}
input:valid ~ .enderecoLabel::after {
    content: " \2713";
    color: greenyellow;
}
input:valid ~ .emailLabel::after {
    content: " \2713";
    color: greenyellow;
}
input:valid ~ .estadoLabel::after {
    content: " \2713";
    color: greenyellow;
}

nav {
    display: flex;
    display: inline-flex;
    justify-content: space-between;
    align-items: right;
}

table {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    justify-content: flex-end;
    height: 100%;
}

div section {
    background-image: url("../img/Logo_Pacman.png");
    width: auto;   

}

section {
    display: flex;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

.button {
    background-color: #fafaf8;
    border: 1px solid #222222;
    border-color: rgb(8, 8, 8);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    box-sizing: border-box;
}

.tooltip {
    display:none;
    position:absolute;
    border:1px solid #333;
    background-color:#161616;
    border-radius:5px;
    padding:10px;
    color:#fff;
    font-size:12px Arial;
}

footer ul {
    padding-bottom: 23px;
    padding-top: 11px;
    width: 100%;
    margin-bottom: 13px;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: small;
}

footer ul li {
    margin-left: 20px;
    padding: -1px;
    list-style: none;

}

.fonte-01 {
    font-family: 'Roboto', sans-serif;
    flex-direction: row;
}

.fonte-02 {
    font-family: 'Maven Pro', sans-serif;
}

